<div id="<%= dom_id apartement %>">
  <p>
    <strong>Street:</strong>
    <%= apartement.street %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= apartement.unit %>
  </p>

  <p>
    <strong>City:</strong>
    <%= apartement.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= apartement.state %>
  </p>

  <p>
    <strong>Square footage:</strong>
    <%= apartement.square_footage %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= apartement.price %>
  </p>

  <p>
    <strong>Bedrooms:</strong>
    <%= apartement.bedrooms %>
  </p>

  <p>
    <strong>Bathrooms:</strong>
    <%= apartement.bathrooms %>
  </p>

  <p>
    <strong>Pets:</strong>
    <%= apartement.pets %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= apartement.image %>
  </p>

  <p>
    <strong>User:</strong>
    <%= apartement.user_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= apartement.description %>
  </p>

</div>
